nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

.send-request {
  margin-bottom: 16px;
}

.send-request span {
  margin-left: 8px;
}

.alert-danger{
  margin-top: 5px;
}

:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}