nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }
  
  .send-request {
    margin-bottom: 16px;
  }

  .send-request span {
    margin-left: 8px;
  }