

.alert-danger{
    margin-top: 5px;
  }
  #bigMap {
    height: 100%;
    width: 100%;
  }
  .close{
    float: none;
    text-shadow: none;
    opacity: 1;
  }
  nz-date-picker,
      nz-range-picker {
        margin: 0 8px 12px 0;
    }
  .ant-spin-nested-loading {
    position: inherit;
  }

  .pinMessage{
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }

  .fullscreen-modal {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }

  .example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

  .containerMap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
  }