<nz-breadcrumb>
	<nz-breadcrumb-item><a routerLink="/dashboard">HOME</a></nz-breadcrumb-item>
	<nz-breadcrumb-item><a routerLink="/account/list">FEEDBACK STANDARDS</a></nz-breadcrumb-item>
	<nz-breadcrumb-item>ADD FEEDBACK</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="inner-content">
	<div class="row">
		<div class="col-md-12">
			<section>
				<h4>Add Feedback</h4>
				<p></p>
			</section>
		</div>
	</div>
	<div class="row">
		<form [formGroup]="addForm" (ngSubmit)="submitForm(addForm.value)">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameAr">Name (Arabic)</label>
						<input type="text" class="form-control" formControlName="nameAr" placeholder="Arabic Name">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameAr'].invalid && 
                             (addForm.controls['nameAr'].dirty || addForm.controls['nameAr'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameEn">Name (English)</label>
						<input type="text" class="form-control" formControlName="nameEn" placeholder="English Name">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameEn'].invalid && 
                               (addForm.controls['nameEn'].dirty || addForm.controls['nameEn'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameFa">Name (Farsy)</label>
						<input type="text" class="form-control" formControlName="nameFa" placeholder="Farsy Name">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameFa'].invalid && 
                               (addForm.controls['nameFa'].dirty || addForm.controls['nameFa'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameFr">Name (France)</label>
						<input type="text" class="form-control" formControlName="nameFr" placeholder="France Name">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameFr'].invalid && 
                             (addForm.controls['nameFr'].dirty || addForm.controls['nameFr'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameId">Name (Indonesia)</label>
						<input type="text" class="form-control" formControlName="nameId" placeholder="English Indonesia">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameId'].invalid && 
                               (addForm.controls['nameId'].dirty || addForm.controls['nameId'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameTr">Name (Turky)</label>
						<input type="text" class="form-control" formControlName="nameTr" placeholder="Arabic Turky">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameTr'].invalid && 
                               (addForm.controls['nameTr'].dirty || addForm.controls['nameTr'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group my-2">
						<label for="nameUr">Name (Urdu)</label>
						<input type="text" class="form-control" formControlName="nameUr" placeholder="Urdu Name">
						<div class="alert alert-danger" *ngIf="addForm.controls['nameUr'].invalid && 
                             (addForm.controls['nameUr'].dirty || addForm.controls['nameUr'].touched)"
							class="alert alert-danger">
							this field is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 d-flex">
					<button type="submit" class="btn btn-secondary" routerLink="/feedback/list">Back</button>
					<button type="submit" class="btn btn-primary btn-main leftMargin rightMargin">Add Feedback</button>
				</div>
			</div>
		</form>
	</div>
</div>