nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }

  .leftMargin {
    margin-left: 20px;
  }

  .rightMargin {
  margin-right: 20px;
  }

  .form-check {
    padding-top: 45px;
  }

  .alert-danger{
    margin-top: 5px;
  }
  
  .btn{
    width: 100%;
  }

  .ant-picker{
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;    
  }
  .ant-picker > input:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
}

.example-input .ant-input {
    width: 200px;
    margin: 0 8px 8px 0;
  }