:host {
  height: 300px;
  /* width: 300px; */
  /* float: right;
   padding-left: 630px;
  padding-top: 20px; 
  position: relative; */
}

.custom-bar {
  height: 50px; /* Adjust the height as needed */
}
/* .bar {
  height: 20px;
} */

.legend-left {
  float: left;
  color: red;
}

.legend-right {
  float: right;
}
