

.alert-danger{
    margin-top: 5px;
  }
  #bigMap {
    height: 100%;
    width: 100%;
  }
  .close{
    float: none;
    text-shadow: none;
    opacity: 1;
  }
  nz-date-picker,
      nz-range-picker {
        margin: 0 8px 12px 0;
    }
  .ant-spin-nested-loading {
    position: inherit;
  }

  .pinMessage{
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }
  
  .pinSelected{
    color: #13A638;
  }
  
  .pinNotSelected{
    color: red;
  }

  .fullscreen-modal {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }

  .example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

  .containerMap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
  }

  .overlayList {
    position: absolute;
    top: 25%;
    /* left: 79%; */
    background-color: rgb(0 95 164 / 60%);
    padding: 20px;
    border-radius: 5px;
    color: white;
    width: 200px;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
    
  }

  .centered-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .centered-list li {
    display: inline-block; 
    margin-left: -26px;
  }
  .list-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(0 95 164 / 80%);
    font-weight: bold;
    width: 150px;
    margin-right: -25px;
  }