

.alert-danger{
    margin-top: 5px;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  .close{
    float: none;
    text-shadow: none;
    opacity: 1;
  }
  nz-date-picker,
      nz-range-picker {
        margin: 0 8px 12px 0;
    }
  .ant-spin-nested-loading {
    position: inherit;
  }

  .pinMessage{
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }
  
  .pinSelected{
    color: #13A638;
  }
  
  .pinNotSelected{
    color: red;
  }

  .fullscreen-modal {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }

  @media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1200px;
    }
  }
  
  nz-date-picker[_ngcontent-ng-c4281615733], nz-range-picker[_ngcontent-ng-c4281615733]{
    margin: 0px;
  }

  .form-section {
    /* background-color: #FCFDF4; */
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2.5rem;
  }
  .form-section-title {
    border: 1px solid #ced4da;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 1rem;
    background: white;
    border-radius: 0.5rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
  }

  .label{
    padding: 10px;
  }

  .statusContainer{
    position: absolute;
    margin-left: 200px;
    margin-right: 200px;
  }
  .greencircle-before-word::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: green; /* Circle color */
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
  .yellowcircle-before-word::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: yellow; /* Circle color */
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
 .redcircle-before-word::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red; /* Circle color */
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.graycircle-before-word::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray; /* Circle color */
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
 .notification-container {
      position: relative;
      display: inline-block;
    }

    .notification-badge {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: red;
      color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }

    .icon {
      font-size: 40px;
    }