<!-- <div> -->
	<!-- <div class="logo">
		<a class="nav-link" routerLink="/dashboard">
			<img src="/assets/images/nwc-logo.png" />
    </a>
	</div> -->

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 81%; float: left;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Catalog
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" routerLink="/area/list">Areas</a>
						<a class="dropdown-item" routerLink="/category/list">Categories</a>
						<a class="dropdown-item" routerLink="/feedback/list">Feedback Standards</a>
						<a class="dropdown-item" routerLink="/toilet/list">Toilets</a>
						<a class="dropdown-item" routerLink="/campaign/list">Campaigns</a>
						<a class="dropdown-item" routerLink="/zamzam/list">ZamZam</a>
						<a class="dropdown-item" routerLink="/season/list">Seasons</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/complaint/list">Complaints</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/account/list">Users</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"
		style="max-height: 50px; min-width: 115px; float: right;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent2">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<nz-avatar nzSize="large" nzIcon="user" style="background-color: #8AB1CE"></nz-avatar>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-item">
							<nz-avatar [nzSize]="64" nzIcon="user" style="background-color: #8AB1CE"></nz-avatar>
							<div class="userName">{{ userName }}</div>
						</div>
						<a class="dropdown-item" routerLink="/account/profile">View Profile</a>
						<a class="dropdown-item" (click)="signout()">Signout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav> -->
<!-- </div> -->