/* .chart-container {
  width: 100%;
  height: 100%;
  position: relative;
} */
.chart-wrapper {
  width: 90%; /* Set your desired width */
  height: auto; /* or a fixed height if needed */
  position: relative;
}